{% extends 'base.html' %}

{% block title %}
Enter your new password
{% endblock title %}

{% block content %}
    {% if validlink %}
        <h2>Please enter the following form to reset your password.</h2>
        <form action="" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Reset Password">
        </form>
    {% else %}
        <p>The reset link is invalid or it has already expired. <a href="{% url 'password_reset' %}">Please make a request again.</a></p>
    {% endif %}
{% endblock content %}